<DOCTYPE! html>
  <html>
    <head>
        <meta chaset="utf-8">
        <meta http-equiv="X_UA_Campatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>
        Court System
      </title>
      <meta name="description"content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
        div{
            background-color:white;
            height:80%;
            width:60%;
            padding-left:20%;
        }
        body{
          background-color:lightgrey;
          padding-left:20%;
          padding-right: 20%;
        }
        button{
          background-color: brown;
          color:black;
        }
        label{
            color:maroon;
            font-style:italic;
        }
      </style>
    </head>
    <body>
        <h style="font:bolder;font-size:20px;color:black;"></h>
        <div>
            <form  onsubmit="return validatePassword()" action="{%url "court_system:client_save"%}"method="POST">
                {%csrf_token%}
                <label>
                    Name:
                </label>
                <br>
                <input type="text" id="name" name="name" placeholder="Full Name" Required>
                <br>
                <br>
                <label>
                    Username:
                </label>
                <br>
                <input type="text" id="username" name="username" placeholder="username" Required>
                <br>
                <br>
                <label>
                    Email:
                </label>
                <br>
                <input type="email" id="email" name="email" placeholder="Email-address" Required>
                <br>
                <br>
                <label>
                    password
                </label>
                <br>
                <input type="password" id="pas" name="pas" placeholder="password" Required>
                <br>
                <br>
                <label>
                    Confirm password:
                </label>
                <br>
                <input type="password" id="pas1" name="pas1" placeholder="password" Required>
                <br>
                <br>
                <label>
                    ID NO:
                </label>
                <br>
                <input type="number" id="idno" name="idno" placeholder="ID NO" Required>
                <br>
                <br>
                <input style="margin-left:10%;background-color:lightgreen;border-color: lightblue;"type="submit"value="Submit"id="button" name="button" placeholder="button">
            </form>
        </div>
        <script>
            function validatePassword(){
                var password=document.getElementById("pas").value;
                var password1=document.getElementById("pas1").value;
                if(password==password1){
                    return true;
                }
                else{
                    alert("Password Mismatch!")
                    return false;
                }
            }
        </script>
    </body>
  </html>