<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>

    <!-- ==== STYLE.CSS ==== -->
    <link rel="stylesheet" href="style.css" />

    <!-- ====  REMIXICON CDN ==== -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- ==== ANIMATE ON SCROLL CSS CDN  ==== -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
      <!-- ==== HEADER ==== -->
    <header class="container header">
      <!-- ==== NAVBAR ==== -->
      <nav class="nav">
        <div class="logo">
          <h2>COURT SYSTEM</h2>
        </div>

        <div class="nav_menu" id="nav_menu">
          <button class="close_btn" id="close_btn">
            <i class="ri-close-fill"></i>
          </button>

          <ul class="nav_menu_list">
            
            <li class="nav_menu_item">
              <a href="#" class="nav_menu_link">about</a>
            </li>
            <li class="nav_menu_item">
              <a href="#" class="nav_menu_link">service</a>
            </li>
            <li class="nav_menu_item">
              <a href="#" class="nav_menu_link">contact</a>
            </li>
            <li class="nav_menu_item">
              <button href="#" class="btnLogin-popup" onclick="pop()">login</button>
            </li>
          </ul>
        </div>

        <button class="toggle_btn" id="toggle_btn">
          <i class="ri-menu-line"></i>
        </button>
      </nav>
    </header>


    <section class="wrapper">
      <div class="container">
        <div class="grid-cols-2">
          <div class="grid-item-1">
            <h1 class="main-heading">
              Welcome to <span>eCOURT.</span>
              <br />
              Say NO To Injustice.
            </h1>
            <p class="info-text">
              The ecourt will help you review your case with flexibility
              and also helps you find a lawyer.
            </p>

            <div class="btn_wrapper">
              <button class="btn view_more_btn">
                view all pages <i class="ri-arrow-right-line"></i>
              </button>

              <button class="btn documentation_btn">documentation</button>
            </div>
          </div>
          <div class="grid-item-2">
            <div class="team_img_wrapper">
              <img src="./img/—Pngtree—judge hammer law png material_5458041.png" alt="team-img" />
            </div>
          </div>
        </div>
      </div>
    </section>  
    <section class="container">
      <div class="loginform">
        <span class="icon-close">
          <ion-icon name="close"></ion-icon>
        </span>
        <div class="form-box login">
          <h2>Login</h2>
          <form action="#">
            <div class="input-box">
              <span class=" icons"><ion-icon name="mail"></ion-icon></span>
              <input type="email" required>
              <label>Email</label>
            </div>
            <div class="input-box">
              <span class=" icons "><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" required>
              <label>Password</label>
            </div>
            <div class="remember-forget">
              <label>
                <input type="checkbox">Remember Me
              </label>
              <a href="#">Forgot Password?</a>
            </div>
            <button type="Submit" class="btn">Login</button>
            <div class="login-register">
              <p>Don't have an account?
                <a href="#" class="register-link">Register</a> 
              </p>
            </div>
          </form>
        </div>



        <div class="form-box register">
          <h2>Registration</h2>
          <form action="#">
            <div class="input-box">
              <span class=" icons"><ion-icon name="person"></ion-icon></span>
              <input type="text" required>
              <label>Name</label>
            </div>
            <div class="input-box">
              <span class=" icons"><ion-icon name="id-card"></ion-icon></span>
              <input type="number" required >
              <label>Identity No.</label>
            </div>
            <div class="input-box">
              <span class=" icons"><ion-icon name="mail"></ion-icon></span>
              <input type="email" required>
              <label>Email</label>
            </div>
            <div class="input-box">
              <span class=" icons "><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" required>
              <label>Password</label>
            </div>
            <div class="remember-forget">
              <label>
                <input type="checkbox">Agree with terms and conditions
              </label>
            </div>
            <button type="Submit" class="btn">Register</button>
            <div class="login-register">
              <p>Already have an account?
                <a href="#" class="login-link">login</a> 
              </p>
            </div>
          </form>
        </div>

      </div>
    </section>

 

    <section class="wrapper">
      <div style="background-color:#0896a8;width:100%;height: 300px;">
        <div class="container" data-aos="fade-up" data-aos-duration="1000">
          <div class="grid-cols-3">
            <div class="grid-col-item">
              
                <div class="featured_info">
                  <span>PLATO</span>
                  <p>
                    "Good peolpe will not need the law to tell them to act responsibly, 
                    but bad people will always find a way around the law."
                  </p>
                </div>
              </div>
              <div class="grid-col-item">
                <div class="icon">
                
                </div>
                <div class="featured_info">
                  <span>To All lawyers,,</span>
                  <p>
                    "Dont raise your voice,
                    Improve your argument's"
                  </p>
                </div>
              </div>
    
              <div class="grid-col-item">
                <div class="icon">
                
                </div>
                <div class="featured_info">
                  <span>Kenneth Eade</span>
                  <p>
                    “Fair is irrelevant. This is the law,
                    it has nothing to do with justice.”
                  </p>
                </div>
              </div>  
              </div>
  
          </div>
        </div>
      </div>
    </section>

    <footer></footer>

    <!-- ==== ANIMATE ON SCROLL JS CDN -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- ==== GSAP CDN ==== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <!-- ==== SCRIPT.JS ==== -->
    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
  </body>
</html>
