{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title>Court System</title>
	
	<link rel="stylesheet" type=text/css href={% static 'court_system/garbStyle.css' %}>
</head>
<body>
	<div class="full-page">
		<div class="navbar">
			<div>
				<a>Kenya Courts System</a>
			</div>
			<nav>
				<ul id='MenuItems'>
					<li><a href='#'>Home</a></li>
					<li><a href='#'>About Us</a></li>
					<li><a href='#'>Services</a></li>
					<li><a href='#'>Contact</a></li>
				
					</li>
				</ul>
			</nav>
		</div>
		<div id='login-form' class='login-page'>
			<div class="form-box">
				<form id='login' class='input-group-login'action="LOGImethod="POST">
					<div><input type='text' class='input-field' placeholder='Email Id' required></div>
					<div><input type='password' class="input-field" placeholder="Enter Password" required></div>
					<div><input type='checkbox' class="check-box"><span>Remember Password</span></div>
					<div><button type='submit' class="submit-btn">Log in</button></div>
					
				</form>
			</div>
		</div>
	</div>
	<script>
		var x=document.getElementById('login');
		var y=document.getElementById('register');
		var z=document.getElementById('btn');
		function register()
		{
			x.style.left='-400px';
			y.style.left='50px';
			z.style.left='110px';
		}
		function login()
		{
			x.style.left='50px';
			y.style.left='450px';
			z.style.left='0px';
		}
	</script>
	<script>
		var modal = document.getElementById('login-form');
		window.onClick = function(event)
		{
			if (event.target == modal)
			{
				modal.style.display = "none";
			}
		}
	</script>

</body>
</html>